body{
  font-family:'Nanum Gothic';
}

div{
  margin: 0;
  padding: 0;
  outline: none;
}

a{
  text-decoration: none;
}

.text_bar{
  margin: 0 10px 0 7px;
  padding: 0.5px 0 0.5px 0;
  border-left: 1px solid #aaa;
}

.aticle_skin{
  width: 70%;
  margin: 0 auto;
}

.blog_tag{
  text-align: center;
}

.title_tag{
  color: #2e4465;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.admin_manage{
  text-align: right;
  font-size: 0.8rem;
  color: #aaa;
  /* border: 2px solid #000000; */
}
.admin_manage a{
  color:#aaa;
}

.blog_header{
    text-align: center;
    margin-bottom: 29px;
    padding: 7% 0 50px;
    border-bottom: 1px solid #d2d2d2;
}

.blog_title{
  margin-top: 20px;
  font-weight: bold;
  font-size: 45px;
  /* border: 2px solid red; */
}

.blog_date{
  font-size: 15px;
  padding-top: 20px;
  color: #aaa;
  /* border: 1px solid black; */
}

.blog_content{
  padding: 5% 7% 10%;
  word-break: break-all;
  /* border: 2px solid blue; */
}

.blog_content img{
  max-width: 100%;
  width: 800px;
}

.commments{
  margin-bottom: 100px;
}


/* 위로가기 아래로가기 버튼 */
#top-button{
  display:inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#top-button::after {
  content: '^';
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#top-button:hover {
  cursor: pointer;
  background-color: #333;
}
#top-button:active {
  background-color: #555;
}
#top-button.show {
  opacity: 1;
  visibility: visible;
}
